@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="flex justify-end">
  @if (SignInManager.IsSignedIn(User))
  {
      <li class="m-3">
            <a class="group inline-flex items-center justify-center py-2 px-4 text-sm font-semibold text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
      </li>
      <li class="m-3">
          <form class="inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="group inline-flex items-center justify-center py-2 px-4 text-sm font-semibold text-white">Logout</button>
          </form>
      </li>
  }
  else
  {
        <li class="m-3">
            <a class="group inline-flex items-center justify-center py-2 px-4 text-sm font-semibold text-black" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
      <li class="m-3">
            <a class="group inline-flex items-center justify-center rounded-full py-2 px-4 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-gray-900 text-white hover:text-white hover:text-white hover:bg-gray-800 active:bg-blue-800 active:text-blue-100 focus-visible:outline-blue-600" asp-area="Identity" asp-page="/Account/Register">Register</a>
      </li>
      
  }
</ul>
