<div class="pl-96 mb-10 mr-10">
    <div class="pl-64  pt-10">
        <div class="pt-10">
            <h2 class="text-base font-semibold leading-7 text-gray-900">Account details</h2>
            <p class="mt-1 text-sm leading-6 text-gray-500"></p>


        </div>
    </div>

</div>



