<div class="lg:pl-80 ">
    <div class="relative overflow-hidden">
        @* add sm:py-32 to make it applicaple in small screen size*@
        <div class="bg-white p-4 sm:p-4">
            <div class="mx-auto max-w-7xl">
                <div>
                    <div>
                        <div class="py-5">
                            <h2 class="text-3xl font-bold tracking-tight text-gray-900">
                                Cybersecurity Defense
                            </h2>
                        </div>
                    </div>


                    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 mt-8 sm:mt-10 ">

                        <div class="flex flex-col h-100 shadow rounded-2xl overflow-hidden bg-card">
                            <div class="flex flex-col p-6">
                                <div class="flex items-center justify-between">
                                    <div class="py-0.5 px-3 rounded-full text-sm font-semibold text-blue-800 bg-blue-100 dark:text-blue-50 dark:bg-blue-500 ">
                                        2-1
                                    </div>
                                </div>
                                <div class="mt-4 text-lg font-medium">Asset Management</div>
                                <div class="mt-0.5 line-clamp-8 text-secondary">
                                    To ensure that the organization has an accurate and detailed inventory of information and
                                    technology assets in order to support the organization’s cybersecurity and operational
                                    requirements to maintain the confidentiality, integrity and availability of information and technology
                                    assets.
                                </div>
                            </div>
                            <div class="flex flex-col w-full mt-auto">
                                <div class="px-6 py-4 text-right bg-gray-50 dark:bg-transparent">
                                    <button type="button" class="font-semibold ring-cyan-950 rounded-full border-3  border-gray-500 border-opacity-50 pt-1.5 pb-1.5 pr-5 pl-5 text-cyan-950 shadow-sm  hover:bg-gray-200  focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-500">
                                        Continue
                                        <svg class="w-4 h-5 text-cyan-950 pl-2  inline-block" aria-hidden="true" fill="none" viewBox="0 0 8 14">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>


                        <div class="flex flex-col h-100 shadow rounded-2xl overflow-hidden bg-card">
                            <div class="flex flex-col p-6">
                                <div class="flex items-center justify-between">
                                    <div class="py-0.5 px-3 rounded-full text-sm font-semibold text-blue-800 bg-blue-100 dark:text-blue-50 dark:bg-blue-500 ">
                                        2-2
                                    </div>
                                </div>
                                <div class="mt-4 text-lg font-medium">Identity and Access Management</div>
                                <div class="mt-0.5 line-clamp-8 text-secondary">
                                    To ensure the secure and restricted logical access to information and technology assets in order
                                    to prevent unauthorized access and allow only authorized access for users which are necessary to
                                    accomplish assigned tasks.
                                </div>
                            </div>
                            <div class="flex flex-col w-full mt-auto">
                                <div class="px-6 py-4 text-right bg-gray-50 dark:bg-transparent">
                                    <button type="button" class="font-semibold ring-cyan-950 rounded-full border-3  border-gray-500 border-opacity-50 pt-1.5 pb-1.5 pr-5 pl-5 text-cyan-950 shadow-sm  hover:bg-gray-200  focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-500">
                                        Continue
                                        <svg class="w-4 h-5 text-cyan-950 pl-2  inline-block" aria-hidden="true" fill="none" viewBox="0 0 8 14">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>


                        <div class="flex flex-col h-100 shadow rounded-2xl overflow-hidden bg-card">
                            <div class="flex flex-col p-6">
                                <div class="flex items-center justify-between">
                                    <div class="py-0.5 px-3 rounded-full text-sm font-semibold text-blue-800 bg-blue-100 dark:text-blue-50 dark:bg-blue-500 ">
                                        2-3
                                    </div>
                                </div>
                                <div class="mt-4 text-lg font-medium">Information System and Information Processing Facilities Protection</div>
                                <div class="mt-0.5 line-clamp-8 text-secondary">
                                    To ensure the protection of information systems and information processing facilities (including
                                    workstations and infrastructures) against cyber risks
                                </div>
                            </div>
                            <div class="flex flex-col w-full mt-auto">
                                <div class="px-6 py-4 text-right bg-gray-50 dark:bg-transparent">
                                    <button type="button" class="font-semibold ring-cyan-950 rounded-full border-3  border-gray-500 border-opacity-50 pt-1.5 pb-1.5 pr-5 pl-5 text-cyan-950 shadow-sm  hover:bg-gray-200  focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-500">
                                        Continue
                                        <svg class="w-4 h-5 text-cyan-950 pl-2  inline-block" aria-hidden="true" fill="none" viewBox="0 0 8 14">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>


                        <div class="flex flex-col h-100 shadow rounded-2xl overflow-hidden bg-card">
                            <div class="flex flex-col p-6">
                                <div class="flex items-center justify-between">
                                    <div class="py-0.5 px-3 rounded-full text-sm font-semibold text-blue-800 bg-blue-100 dark:text-blue-50 dark:bg-blue-500 ">
                                        2-4
                                    </div>
                                </div>
                                <div class="mt-4 text-lg font-medium">Email Protection</div>
                                <div class="mt-0.5 line-clamp-8 text-secondary">
                                    To ensure the protection of organization’s email service from cyber risks.
                                </div>
                            </div>
                            <div class="flex flex-col w-full mt-auto">
                                <div class="px-6 py-4 text-right bg-gray-50 dark:bg-transparent">
                                    <button type="button" class="font-semibold ring-cyan-950 rounded-full border-3  border-gray-500 border-opacity-50 pt-1.5 pb-1.5 pr-5 pl-5 text-cyan-950 shadow-sm  hover:bg-gray-200  focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-500">
                                        Continue
                                        <svg class="w-4 h-5 text-cyan-950 pl-2  inline-block" aria-hidden="true" fill="none" viewBox="0 0 8 14">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>


                        <div class="flex flex-col h-100 shadow rounded-2xl overflow-hidden bg-card">
                            <div class="flex flex-col p-6">
                                <div class="flex items-center justify-between">
                                    <div class="py-0.5 px-3 rounded-full text-sm font-semibold text-blue-800 bg-blue-100 dark:text-blue-50 dark:bg-blue-500 ">
                                        2-5
                                    </div>
                                </div>
                                <div class="mt-4 text-lg font-medium">Networks Security Management</div>
                                <div class="mt-0.5 line-clamp-8 text-secondary">
                                    To ensure the protection of organization’s network from cyber risks
                                </div>
                            </div>
                            <div class="flex flex-col w-full mt-auto">
                                <div class="px-6 py-4 text-right bg-gray-50 dark:bg-transparent">
                                    <button type="button" class="font-semibold ring-cyan-950 rounded-full border-3  border-gray-500 border-opacity-50 pt-1.5 pb-1.5 pr-5 pl-5 text-cyan-950 shadow-sm  hover:bg-gray-200  focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-500">
                                        Continue
                                        <svg class="w-4 h-5 text-cyan-950 pl-2  inline-block" aria-hidden="true" fill="none" viewBox="0 0 8 14">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>


                        <div class="flex flex-col h-100 shadow rounded-2xl overflow-hidden bg-card">
                            <div class="flex flex-col p-6">
                                <div class="flex items-center justify-between">
                                    <div class="py-0.5 px-3 rounded-full text-sm font-semibold text-blue-800 bg-blue-100 dark:text-blue-50 dark:bg-blue-500 ">
                                        2-6
                                    </div>
                                </div>
                                <div class="mt-4 text-lg font-medium">Mobile Devices Security</div>
                                <div class="mt-0.5 line-clamp-8 text-secondary">
                                    To ensure the protection of mobile devices (including laptops, smartphones, tablets) from cyber
                                    risks and to ensure the secure handling of the organization’s information (including sensitive
                                    information) while utilizing Bring Your Own Device (BYOD) policy.
                                </div>
                            </div>
                            <div class="flex flex-col w-full mt-auto">
                                <div class="px-6 py-4 text-right bg-gray-50 dark:bg-transparent">
                                    <button type="button" class="font-semibold ring-cyan-950 rounded-full border-3  border-gray-500 border-opacity-50 pt-1.5 pb-1.5 pr-5 pl-5 text-cyan-950 shadow-sm  hover:bg-gray-200  focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-500">
                                        Continue
                                        <svg class="w-4 h-5 text-cyan-950 pl-2  inline-block" aria-hidden="true" fill="none" viewBox="0 0 8 14">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>


                        <div class="flex flex-col h-100 shadow rounded-2xl overflow-hidden bg-card">
                            <div class="flex flex-col p-6">
                                <div class="flex items-center justify-between">
                                    <div class="py-0.5 px-3 rounded-full text-sm font-semibold text-blue-800 bg-blue-100 dark:text-blue-50 dark:bg-blue-500 ">
                                        2-7
                                    </div>
                                </div>
                                <div class="mt-4 text-lg font-medium">Data and Information Protection</div>
                                <div class="mt-0.5 line-clamp-8 text-secondary">
                                    To ensure the confidentiality, integrity and availability of organization’s data and information as
                                    per organizational policies and procedures, and related laws and regulations
                                </div>
                            </div>
                            <div class="flex flex-col w-full mt-auto">
                                <div class="px-6 py-4 text-right bg-gray-50 dark:bg-transparent">
                                    <button type="button" class="font-semibold ring-cyan-950 rounded-full border-3  border-gray-500 border-opacity-50 pt-1.5 pb-1.5 pr-5 pl-5 text-cyan-950 shadow-sm  hover:bg-gray-200  focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-500">
                                        Continue
                                        <svg class="w-4 h-5 text-cyan-950 pl-2  inline-block" aria-hidden="true" fill="none" viewBox="0 0 8 14">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>


                        <div class="flex flex-col h-100 shadow rounded-2xl overflow-hidden bg-card">
                            <div class="flex flex-col p-6">
                                <div class="flex items-center justify-between">
                                    <div class="py-0.5 px-3 rounded-full text-sm font-semibold text-blue-800 bg-blue-100 dark:text-blue-50 dark:bg-blue-500 ">
                                        2-8
                                    </div>
                                </div>
                                <div class="mt-4 text-lg font-medium">Cryptography</div>
                                <div class="mt-0.5 line-clamp-8 text-secondary">
                                    To ensure the proper and efficient use of cryptography to protect information assets as per
                                    organizational policies and procedures, and related laws and regulations.
                                </div>
                            </div>
                            <div class="flex flex-col w-full mt-auto">
                                <div class="px-6 py-4 text-right bg-gray-50 dark:bg-transparent">
                                    <button type="button" class="font-semibold ring-cyan-950 rounded-full border-3  border-gray-500 border-opacity-50 pt-1.5 pb-1.5 pr-5 pl-5 text-cyan-950 shadow-sm  hover:bg-gray-200  focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-500">
                                        Continue
                                        <svg class="w-4 h-5 text-cyan-950 pl-2  inline-block" aria-hidden="true" fill="none" viewBox="0 0 8 14">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>


                        <div class="flex flex-col h-100 shadow rounded-2xl overflow-hidden bg-card">
                            <div class="flex flex-col p-6">
                                <div class="flex items-center justify-between">
                                    <div class="py-0.5 px-3 rounded-full text-sm font-semibold text-blue-800 bg-blue-100 dark:text-blue-50 dark:bg-blue-500 ">
                                        2-9
                                    </div>
                                </div>
                                <div class="mt-4 text-lg font-medium">Backup and Recovery Management</div>
                                <div class="mt-0.5 line-clamp-8 text-secondary">
                                    To ensure the protection of organization’s data and information including information systems and
                                    software configurations from cyber risks as per organizational policies and procedures, and related
                                    laws and regulations.
                                </div>
                            </div>
                            <div class="flex flex-col w-full mt-auto">
                                <div class="px-6 py-4 text-right bg-gray-50 dark:bg-transparent">
                                    <button type="button" class="font-semibold ring-cyan-950 rounded-full border-3  border-gray-500 border-opacity-50 pt-1.5 pb-1.5 pr-5 pl-5 text-cyan-950 shadow-sm  hover:bg-gray-200  focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-500">
                                        Continue
                                        <svg class="w-4 h-5 text-cyan-950 pl-2  inline-block" aria-hidden="true" fill="none" viewBox="0 0 8 14">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>


                        <div class="flex flex-col h-100 shadow rounded-2xl overflow-hidden bg-card">
                            <div class="flex flex-col p-6">
                                <div class="flex items-center justify-between">
                                    <div class="py-0.5 px-3 rounded-full text-sm font-semibold text-blue-800 bg-blue-100 dark:text-blue-50 dark:bg-blue-500 ">
                                        2-10
                                    </div>
                                </div>
                                <div class="mt-4 text-lg font-medium">Vulnerabilities Management</div>
                                <div class="mt-0.5 line-clamp-8 text-secondary">
                                    To ensure timely detection and effective remediation of technical vulnerabilities to prevent or minimize
                                    the probability of exploiting these vulnerabilities to launch cyber attacks against the organization.
                                </div>
                            </div>
                            <div class="flex flex-col w-full mt-auto">
                                <div class="px-6 py-4 text-right bg-gray-50 dark:bg-transparent">
                                    <button type="button" class="font-semibold ring-cyan-950 rounded-full border-3  border-gray-500 border-opacity-50 pt-1.5 pb-1.5 pr-5 pl-5 text-cyan-950 shadow-sm  hover:bg-gray-200  focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-500">
                                        Continue
                                        <svg class="w-4 h-5 text-cyan-950 pl-2  inline-block" aria-hidden="true" fill="none" viewBox="0 0 8 14">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>


                        <div class="flex flex-col h-100 shadow rounded-2xl overflow-hidden bg-card">
                            <div class="flex flex-col p-6">
                                <div class="flex items-center justify-between">
                                    <div class="py-0.5 px-3 rounded-full text-sm font-semibold text-blue-800 bg-blue-100 dark:text-blue-50 dark:bg-blue-500 ">
                                        2-11
                                    </div>
                                </div>
                                <div class="mt-4 text-lg font-medium">Penetration Testing</div>
                                <div class="mt-0.5 line-clamp-8 text-secondary">
                                    To assess and evaluate the efficiency of the organization’s cybersecurity defense capabilities through
                                    simulated cyber-attacks to discover unknown weaknesses within the technical infrastructure that
                                    may lead to a cyber breach.
                                </div>
                            </div>
                            <div class="flex flex-col w-full mt-auto">
                                <div class="px-6 py-4 text-right bg-gray-50 dark:bg-transparent">
                                    <button type="button" class="font-semibold ring-cyan-950 rounded-full border-3  border-gray-500 border-opacity-50 pt-1.5 pb-1.5 pr-5 pl-5 text-cyan-950 shadow-sm  hover:bg-gray-200  focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-500">
                                        Continue
                                        <svg class="w-4 h-5 text-cyan-950 pl-2  inline-block" aria-hidden="true" fill="none" viewBox="0 0 8 14">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>


                        <div class="flex flex-col h-100 shadow rounded-2xl overflow-hidden bg-card">
                            <div class="flex flex-col p-6">
                                <div class="flex items-center justify-between">
                                    <div class="py-0.5 px-3 rounded-full text-sm font-semibold text-blue-800 bg-blue-100 dark:text-blue-50 dark:bg-blue-500 ">
                                        2-12
                                    </div>
                                </div>
                                <div class="mt-4 text-lg font-medium">Cybersecurity Event Logs and Monitoring Management</div>
                                <div class="mt-0.5 line-clamp-8 text-secondary">
                                    To ensure timely collection, analysis and monitoring of cybersecurity events for early detection of
                                    potential cyber-attacks in order to prevent or minimize the negative impacts on the organization’s
                                    operations.
                                </div>
                            </div>
                            <div class="flex flex-col w-full mt-auto">
                                <div class="px-6 py-4 text-right bg-gray-50 dark:bg-transparent">
                                    <button type="button" class="font-semibold ring-cyan-950 rounded-full border-3  border-gray-500 border-opacity-50 pt-1.5 pb-1.5 pr-5 pl-5 text-cyan-950 shadow-sm  hover:bg-gray-200  focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-500">
                                        Continue
                                        <svg class="w-4 h-5 text-cyan-950 pl-2  inline-block" aria-hidden="true" fill="none" viewBox="0 0 8 14">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>


                        <div class="flex flex-col h-100 shadow rounded-2xl overflow-hidden bg-card">
                            <div class="flex flex-col p-6">
                                <div class="flex items-center justify-between">
                                    <div class="py-0.5 px-3 rounded-full text-sm font-semibold text-blue-800 bg-blue-100 dark:text-blue-50 dark:bg-blue-500 ">
                                        2-13
                                    </div>
                                </div>
                                <div class="mt-4 text-lg font-medium">Cybersecurity Incident and Threat Management</div>
                                <div class="mt-0.5 line-clamp-8 text-secondary">
                                    To ensure timely identification, detection, effective management and handling of cybersecurity
                                    incidents and threats to prevent or minimize negative impacts on organization’s operation taking
                                    into consideration the Royal Decree number 37140, dated 14/8/1438H.
                                </div>
                            </div>
                            <div class="flex flex-col w-full mt-auto">
                                <div class="px-6 py-4 text-right bg-gray-50 dark:bg-transparent">
                                    <button type="button" class="font-semibold ring-cyan-950 rounded-full border-3  border-gray-500 border-opacity-50 pt-1.5 pb-1.5 pr-5 pl-5 text-cyan-950 shadow-sm  hover:bg-gray-200  focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-500">
                                        Continue
                                        <svg class="w-4 h-5 text-cyan-950 pl-2  inline-block" aria-hidden="true" fill="none" viewBox="0 0 8 14">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="flex flex-col h-100 shadow rounded-2xl overflow-hidden bg-card">
                            <div class="flex flex-col p-6">
                                <div class="flex items-center justify-between">
                                    <div class="py-0.5 px-3 rounded-full text-sm font-semibold text-blue-800 bg-blue-100 dark:text-blue-50 dark:bg-blue-500 ">
                                        2-14
                                    </div>
                                </div>
                                <div class="mt-4 text-lg font-medium">Physical Security</div>
                                <div class="mt-0.5 line-clamp-8 text-secondary">
                                    To ensure the protection of information and technology assets from unauthorized physical access,
                                    loss, theft and damage
                                </div>
                            </div>
                            <div class="flex flex-col w-full mt-auto">
                                <div class="px-6 py-4 text-right bg-gray-50 dark:bg-transparent">
                                    <button type="button" class="font-semibold ring-cyan-950 rounded-full border-3  border-gray-500 border-opacity-50 pt-1.5 pb-1.5 pr-5 pl-5 text-cyan-950 shadow-sm  hover:bg-gray-200  focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-500">
                                        Continue
                                        <svg class="w-4 h-5 text-cyan-950 pl-2  inline-block" aria-hidden="true" fill="none" viewBox="0 0 8 14">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>


                        <div class="flex flex-col h-100 shadow rounded-2xl overflow-hidden bg-card">
                            <div class="flex flex-col p-6">
                                <div class="flex items-center justify-between">
                                    <div class="py-0.5 px-3 rounded-full text-sm font-semibold text-blue-800 bg-blue-100 dark:text-blue-50 dark:bg-blue-500 ">
                                        2-15
                                    </div>
                                </div>
                                <div class="mt-4 text-lg font-medium">Web Application Security</div>
                                <div class="mt-0.5 line-clamp-8 text-secondary">
                                    To ensure the protection of external web applications against cyber risks
                                </div>
                            </div>
                            <div class="flex flex-col w-full mt-auto">
                                <div class="px-6 py-4 text-right bg-gray-50 dark:bg-transparent">
                                    <button type="button" class="font-semibold ring-cyan-950 rounded-full border-3  border-gray-500 border-opacity-50 pt-1.5 pb-1.5 pr-5 pl-5 text-cyan-950 shadow-sm  hover:bg-gray-200  focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-500">
                                        Continue
                                        <svg class="w-4 h-5 text-cyan-950 pl-2  inline-block" aria-hidden="true" fill="none" viewBox="0 0 8 14">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
