<div class="lg:pl-80 ">
    <div class="relative overflow-hidden">
        @* add sm:py-32 to make it applicaple in small screen size*@
        <div class="bg-white p-4 sm:p-4">
            <div class="mx-auto max-w-7xl">
                <div>

                    <div>
                        <div class="py-5">
                            <h2 class="text-3xl font-bold tracking-tight text-gray-900">
                                Cybersecurity Governance
                            </h2>
                        </div>
                    </div>



                    <div class="grid grid-cols-2 gap-6 sm:grid-cols-2 lg:col-span-2 lg:gap-8">


                        <div class="rounded bg-gray-50 p-3 	">
                            <div class="grid grid-rows-1 grid-flow-col align-content-around-center h-48">
                                <div class="justify-normal">
                                    <h3 class="text-lg font-semibold leading-7 text-gray-900 pb-2">Cybersecurity Strategy</h3>
                                    <h5 class="text-justify space-y-1 text-base leading-6 text-gray-600  pr-10">
                                        To ensure that cybersecurity plans, goals, initiatives and projects are contributing to compliance with
                                        Objective related laws and regulations.
                                    </h5>
                                </div>
                                <div class="m-auto">
                                    <button type="button" class="rounded-full bg-cyan-950 p-3 text-white shadow-sm  hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-500">
                                        <svg class="w-4 h-4 text-white dark:text-white" aria-hidden="true" fill="none" viewBox="0 0 8 14">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>




                        <div class="rounded bg-gray-50 p-3">
                            <div class="grid grid-rows-1 grid-flow-col align-content-around-center h-48">
                                <div class="justify-normal">
                                    <h3 class="text-lg font-semibold leading-7 text-gray-900 pb-2">Cybersecurity Management</h3>
                                    <h5 class="text-justify space-y-1 text-base leading-6 text-gray-600  pr-10">
                                        To ensure Authorizing Official’s support in implementing and managing cybersecurity programs
                                        Objective within the organization as per related laws and regulations.
                                    </h5>
                                </div>
                                <div class="m-auto">
                                    <button type="button" class="rounded-full bg-cyan-950 p-3 text-white shadow-sm  hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-500">
                                        <svg class="w-4 h-4 text-white dark:text-white" aria-hidden="true" fill="none" viewBox="0 0 8 14">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>



                        <div class="rounded bg-gray-50 p-3">
                            <div class="grid grid-rows-1 grid-flow-col align-content-around-center h-48">
                                <div class="justify-normal">
                                    <h3 class="text-lg font-semibold leading-7 text-gray-900 pb-2">Cybersecurity Policies and Procedures</h3>
                                    <h5 class="text-justify space-y-1 text-base leading-6 text-gray-600  pr-10">
                                        To ensure that cybersecurity requirements are documented, communicated and complied with by
                                        Objective the organization as per related laws and regulations, and organizational requirements.
                                    </h5>
                                </div>
                                <div class="m-auto">
                                    <button type="button" class="rounded-full bg-cyan-950 p-3 text-white shadow-sm  hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-500">
                                        <svg class="w-4 h-4 text-white dark:text-white" aria-hidden="true" fill="none" viewBox="0 0 8 14">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>



                        <div class="rounded bg-gray-50 p-3">
                            <div class="grid grid-rows-1 grid-flow-col align-content-around-center h-48">
                                <div class="justify-normal">
                                    <h3 class="text-lg font-semibold leading-7 text-gray-900 pb-2">Cybersecurity Roles and Responsibilities</h3>
                                    <h5 class="text-justify space-y-1 text-base leading-6 text-gray-600  pr-10">
                                        To ensure that roles and responsibilities are defined for all parties participating in implementing
                                        Objective the cybersecurity controls within the organization.
                                    </h5>
                                </div>
                                <div class="m-auto">
                                    <button type="button" class="rounded-full bg-cyan-950 p-3 text-white shadow-sm  hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-500">
                                        <svg class="w-4 h-4 text-white dark:text-white" aria-hidden="true" fill="none" viewBox="0 0 8 14">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>



                        <div class="rounded bg-gray-50 p-3">
                            <div class="grid grid-rows-1 grid-flow-col align-content-around-center h-48">
                                <div class="justify-normal">
                                    <h3 class="text-lg font-semibold leading-7 text-gray-900 pb-2">Cybersecurity Risk Management</h3>
                                    <h5 class="text-justify space-y-1 text-base leading-6 text-gray-600  pr-10">
                                        To ensure managing cybersecurity risks in a methodological approach in order to protect the
                                        organization’s information and technology assets as per organizational policies and procedures,
                                        and related laws and regulations.
                                    </h5>
                                </div>
                                <div class="m-auto">
                                    <button type="button" class="rounded-full bg-cyan-950 p-3 text-white shadow-sm  hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-500">
                                        <svg class="w-4 h-4 text-white dark:text-white" aria-hidden="true" fill="none" viewBox="0 0 8 14">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>



                        <div class="rounded bg-gray-50 p-3">
                            <div class="grid grid-rows-1 grid-flow-col align-content-around-center h-48">
                                <div class="justify-normal">
                                    <h3 class="text-lg font-semibold leading-7 text-gray-900 pb-2">Cybersecurity in Information and Technology Project Management</h3>
                                    <h5 class="text-justify space-y-1 text-base leading-6 text-gray-600  pr-10">
                                        To ensure that cybersecurity requirements are included in project management methodology and
                                        procedures in order to protect the confidentiality, integrity and availability of information and technology
                                        assets as per organization policies and procedures, and related laws and regulations.
                                    </h5>
                                </div>
                                <div class="m-auto">
                                    <button type="button" class="rounded-full bg-cyan-950 p-3 text-white shadow-sm  hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-500">
                                        <svg class="w-4 h-4 text-white dark:text-white" aria-hidden="true" fill="none" viewBox="0 0 8 14">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>



                        <div class="rounded bg-gray-50 p-3">
                            <div class="grid grid-rows-1 grid-flow-col align-content-around-center h-48">
                                <div class="justify-normal">
                                    <h3 class="text-lg font-semibold leading-7 text-gray-900 pb-2">Compliance with Cybersecurity Standards, Laws and Regulations</h3>
                                    <h5 class="text-justify space-y-1 text-base leading-6 text-gray-600  pr-10">
                                        To ensure that the organization’s cybersecurity program is in compliance with related laws and
                                        Objective regulations.
                                    </h5>
                                </div>
                                <div class="m-auto">
                                    <button type="button" class="rounded-full bg-cyan-950 p-3 text-white shadow-sm  hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-500">
                                        <svg class="w-4 h-4 text-white dark:text-white" aria-hidden="true" fill="none" viewBox="0 0 8 14">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>



                        <div class="rounded bg-gray-50 p-3">
                            <div class="grid grid-rows-1 grid-flow-col align-content-around-center h-48">
                                <div class="justify-normal">
                                    <h3 class="text-lg font-semibold leading-7 text-gray-900 pb-2">Periodical Cybersecurity Review and Audit</h3>
                                    <h5 class="text-justify space-y-1 text-base leading-6 text-gray-600  pr-10">
                                        To ensure that cybersecurity controls are implemented and in compliance with organizational policies
                                        Objective and procedures, as well as related national and international laws, regulations and agreements.
                                    </h5>
                                </div>
                                <div class="m-auto">
                                    <button type="button" class="rounded-full bg-cyan-950 p-3 text-white shadow-sm  hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-500">
                                        <svg class="w-4 h-4 text-white dark:text-white" aria-hidden="true" fill="none" viewBox="0 0 8 14">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>



                        <div class="rounded bg-gray-50 p-3">
                            <div class="grid grid-rows-1 grid-flow-col align-content-around-center h-48">
                                <div class="justify-normal">
                                    <h3 class="text-lg font-semibold leading-7 text-gray-900 pb-2">Cybersecurity in Human Resources</h3>
                                    <h5 class="text-justify space-y-1 text-base leading-6 text-gray-600  pr-10">
                                        To ensure that cybersecurity risks and requirements related to personnel (employees and
                                        contractors) are managed efficiently prior to employment, during employment and after
                                        termination/separation as per organizational policies and procedures, and related laws and
                                        regulations.
                                    </h5>
                                </div>
                                <div class="m-auto">
                                    <button type="button" class="rounded-full bg-cyan-950 p-3 text-white shadow-sm  hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-500">
                                        <svg class="w-4 h-4 text-white dark:text-white" aria-hidden="true" fill="none" viewBox="0 0 8 14">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>



                        <div class="rounded bg-gray-50 p-3">
                            <div class="grid grid-rows-1 grid-flow-col align-content-around-center h-48">
                                <div class="justify-normal">
                                    <h3 class="text-lg font-semibold leading-7 text-gray-900 pb-2">Cybersecurity Awareness and Training Program</h3>
                                    <h5 class="text-justify space-y-1 text-base leading-6 text-gray-600  pr-10">
                                        To ensure that personnel are aware of their cybersecurity responsibilities and have the
                                        essential cybersecurity awareness. It is also to ensure that personnel are provided with the
                                        required cybersecurity training, skills and credentials needed to accomplish their cybersecurity
                                        responsibilities and to protect the organization’s information and technology assets.
                                    </h5>
                                </div>
                                <div class="m-auto">
                                    <button type="button" class="rounded-full bg-cyan-950 p-3 text-white shadow-sm  hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-500">
                                        <svg class="w-4 h-4 text-white dark:text-white" aria-hidden="true" fill="none" viewBox="0 0 8 14">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>





                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
